@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">1F终检QA数据来源 : 装配终检QA的结果数据</span>
        <br /><br />
        <span style="color:blue;">成品发货区数据来源 : 1F终检QA数据 - ASN上传</span> 
        <br /><br />
        <span style="color:blue;">ASN上传数据来源 : [10.50.10.181\MSSQLSERVERG18].StoneWMS_JIS5300_G18.dbo.t_JIS_AAB表 IsPrintASN为1 UploadASNTime不为空的数据 </span>
    </div>
    <img src="../../Scripts/AreaInfo.png" />
</body>
</html>
