@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">大东待翻包库区数据来源: 取自ASN的扫描记录关联的装箱单关联的漆件 与 3楼QA预检关联的合格漆件+不合格漆件.</span>
        <br /><br />
        <span style="color:blue;">待翻包区入库=ASN的扫描记录关联的装箱单关联的漆件</span> 
        <br /><br />
        <span style="color:blue;">待翻包区出库=3楼QA预检关联的合格漆件+不合格漆件</span>
    </div>
    <img src="../../Scripts/AreaInfo.png" />
</body>
</html>
