@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">小注塑缓存区数据来源: 取自小注塑QA区的打印的过渡标签的合格件数据 与 打印正式装箱单的合格件数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 当天的凌晨系统会自动统计前一天的小注塑QA区的打印的过渡标签的合格件数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 当天的凌晨系统会自动统计前一天的小注塑区的打印正式装箱单的合格件数据,作为出库记录</span>
    </div>
</body>
</html>
