@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">大东立体库区数据来源: 取自翻包出库QA的合格数据 与 装配预检的合格数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 统计翻包出库QA的合格数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 统计装配预检的合格数据,作为出库记录</span>
    </div>
    <img src="../../Scripts/AreaInfo.png" />
</body>
</html>
