@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">大东外购件库区数据来源: 取自外购件库区的上架记录 与 外购件库区的下架记录.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 统计外购件库区的上架记录,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 统计外购件库区的下架记录,作为出库记录</span>
        <br /><br />
        
        <span style="color:blue;">大东装配区数据来源: 取自装配预检的合格数据,插单状态的JIS订单数据 与 装配终检的合格数据与不合格数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 统计装配预检的合格数据 与 插单状态的JIS订单数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 统计装配终检的合格数据与不合格数据,作为出库记录</span>
        <br /><br />

        <span style="color:blue;">大东待发货区数据来源: 取自装配终检的合格数据 与 装配终检的合格数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 统计装配终检的合格数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 统计ASN上传记录,作为出库记录</span>

    </div>
    <img src="../../Scripts/AreaInfo2.jpg" />
</body>
</html>
