
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        div {
            margin: 0 5vh 3vh 5vh;
        }

        .Error_first {
            width: 90vw;
        }

            .Error_first table {
                width: 100%;
            }

            .Error_first caption {
                line-height: 4vh;
                text-align: center;
                border: 1px solid lightblue;
                font-weight: bold;
            }

            .Error_first tr {
                line-height: 3vh;
            }

            .Error_first th, .Error_first td {
                text-align: center;
                border: 1px solid lightblue;
            }
    </style>
</head>
<body>
    {0}
  
</body>
</html>
