@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">装配缓存区数据来源: 取自装配预检区的合格数据 与 装配终检区的合格与不合格数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 当天的凌晨系统会自动统计前一天的装配预检区的合格与不合格数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 当天的凌晨系统会自动统计前一天的装配终检区的合格与不合格数据,作为出库记录</span>
    </div>
</body>
</html>
