@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>公式说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">单个产品的月日均出库量：数据取自上个月整月的单个产品在该库区的总出库数量 / 上个月总天数</span>
        <br /><br />
        <span style="color:blue;">单个产品的库存日当量 = 库区内单个产品的库存量 / 单个产品在该库区的月日均出库量</span> 
 
    </div>

</body>
</html>
