@using Tops.FRM;
@{
    ViewBag.Title = "模块名称";
    ViewBag.ModuleName = "资料查询";
    Layout = "~/TopsLib/Views/Shared/_DataObject.cshtml";
    string QueryName = Request.QueryString["QueryName"];
    string MultSelect = Request.QueryString["multSelect"];
    MultSelect = string.IsNullOrEmpty(MultSelect) ? "false" : MultSelect;
    string pars = Request.QueryString["pars"];
    pars = string.IsNullOrEmpty(pars) ? "null" : pars;
    Tops.FRM.Biz biz = Tops.FRM.Biz.GetBiz(QueryName, Tops.FRM.BizType.Query);
    var metas = Tops.FRM.TopsMeta.LoadMetas(QueryName);
    var cols = ModuleConfig.GetColumns(metas[0], biz.Lookups, biz.Sqls[0], biz);
    ViewBag.Biz = biz;
}

@section Params{

    <form id="paramForm">
        <div id="search_title">查询条件：</div>
        <div id="paramlist">
            @Html.Partial("QueryParamList")
        </div>
    </form>

}
@section Script{
    <script type="text/javascript">
        var params=@Html.Raw(Server.UrlDecode(pars));
        var multSelect=@(MultSelect);
        var topsRender=null;
        var grid=null;
        $(function () {
            $("#module_toolbar input").hide();
            $("#searchBt").show();
            //渲染插件
            topsRender=$("#paramlist *[fieldType]").pluginRender();
            //赋默认值
            if(params!=null)
                $.each(params,function(index){
                    var r=topsRender.find(index);
                    if(r!=null)
                        r.obj.setValue(params[index]);
                    $("[name="+index+"]").closest("div.param_item").hide();

                });
            //初始化表格
            grid = $("#datagrid").ligerGrid({
                columns: @Html.Raw(cols.ToJson(true)),
                url: '/AjaxGridData/@(QueryName)',
                method: 'get',
                delayLoad: true,
                dataType: "local",
                dataAction: 'server',
                root: 'Data',                       //数据源字段名
                record: 'Other1',                     //数据源记录数字段名
                rownumbers: true,
                //data: AllProductData, 
                checkbox: multSelect,
                showTitle: false,
                width: '99.5%',
                height: '99%',
                heightDiff: -10,
                enabledSort:false,
                onSuccess: function (data, b) {
                    $.topsErrorDeal(data);
                }
            });
            $("#pageloading").hide(); 
            //绑定按钮事件
            $("#searchBt").click(function () {
                grid.options.parms = $("form#paramForm").serializeArray();
                grid.loadServerData(grid.options.parms);
            });
        });
        function f_select()
        {
            if(multSelect)
                return grid.getCheckedRows();
            else
                return grid.getSelectedRow();
        }
    </script>
}
<div id="datagrid"></div>


