<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->


<configuration>
  <appSettings>

    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ConnectionString1" value="Data Source=218.17.211.45,1735;Initial Catalog=TopsHNAH_FRM;User ID=topssa;Password=GTA789yuntong"/>
    <add key="ConnectionString0" value="Data Source=218.17.211.45,1735;Initial Catalog=TopsHNAH_BIZ;User ID=topssa;Password=GTA789yuntong"/>-->


    <add key="ConnectionString1" value="Data Source=182.61.5.252;Initial Catalog=TopsWMS_FRM;User ID=heweijian;Password=123456" />
    <add key="ConnectionString0" value="Data Source=182.61.5.252;Initial Catalog=TopsWMS_BIZ;User ID=heweijian;Password=123456" />

    <!--<add key="ConnectionString1" value="Data Source=.;Initial Catalog=TopsHNAH_FRM;User ID=sa;Password=123321"/>
    <add key="ConnectionString0" value="Data Source=.;Initial Catalog=TopsHNAH_BIZ;User ID=sa;Password=123321"/>-->
    <!--<add key="ConnectionString0" value="Data Source=.;Initial Catalog=TopsHNAH_BIZ;User ID=sa;Password=123321"/>-->

    <add key="ImgPath" value="/UploadImg/Device/" />
    <add key="ProductImgPath" value="/UploadProductImg/Device/" />
    <add key="HangerImgPath" value="/UploadHangerImg/Device/" />
    <add key="FProductImgPath" value="/Content/UploadProductImg/FinishProduct/" />
    <add key="SFProductImgPath" value="/Content/UploadProductImg/SemiFinishProduct/" />
    <add key="CrudeImgPath" value="/Content/UploadCrudeImg/PlasticPE:\LianWang\HWJ 联旺\TopsHNAH\TopsHNAH\Web.configartCrude/" />

    <add key="LogPath" value="/TopsLog/" />
    <add key="SysLocation" value="chs" />
    <add key="ToolsPower" value="true" />
    <!--是否缓存权限到session-->
    <add key="PowerCache" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

	  <!--最大请求长度,单位为kb-->
	  <httpRuntime maxRequestLength="79872" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
	  <!--允许上传文件长度,单位字节-->
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="75497472" />
		  </requestFiltering>
	  </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
