@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>数据来源说明</title>
</head>
<body>
    <div>
        <span style="color:blue;">喷涂缓存区数据来源: 取自RFID喷涂上线区的合格数据 与 喷涂下线区的QA合格与不合格数据.</span>
        <br /><br />
        <span style="color:blue;">入库数据来源: 当天的凌晨系统会自动统计前一天的RFID喷涂上线区的合格数据,作为入库记录</span> 
        <br /><br />
        <span style="color:blue;">出库数据来源: 当天的凌晨系统会自动统计前一天的喷涂下线区的QA合格与不合格数据,作为出库记录</span>
    </div>
</body>
</html>
