@{
    ViewBag.Title = "标签打印";
    ViewBag.ModuleName = "资料查询";
     
}
<!DOCTYPE html>
<html>
<head>
    <title>标签打印-添加</title>
    <style type="text/css">
        .body
        {
            width: 600px;
            line-height: 32px;
            margin: 0px auto;
        }
        .body table
        {
            width: 100%;
        }
        .body table tr:nth-child(1), .body table tr:nth-child(10)
        {
            font-weight: bold;
        }
        .body table td:nth-child(odd)
        {
            width:15%;
        }
        .body table td:nth-child(evens)
        {
            width:33%;
        } 
        
        .DisplacementBarCode, .MaterielBarCode, .MaterielSpecificationModel, .BatchNumber, .LabelNumber, .DisplacementName, .MaterielName, .DisplacementSpecificationModel, MaterielSpecificationModel, .DisplacementUnit, .MaterielNumber, .DisplacementModel, .DisplacementColor, .Remark
        {
            width: 150px;
            border: 1px solid lightblue;
            line-height: 20px;
        }
        .DisplacementCode, .MaterielDisplacementCode
        {
            width: 110px;
            border: 1px solid lightblue;
            line-height: 20px;
        }
        .ChangeDisplacement, .ChangeMaterielDisplacement
        {
            margin: 0px auto;
            height: 20px;
            background: rgb(80, 182, 248);
            color: white;
            line-height: 20px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            letter-spacing: 2px;
            width: 40px;
        }
        
        .Print
        {
            margin: 0px auto;
            height: 35px;
            background: rgb(80, 182, 248);
            color: white;
            line-height: 35px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            letter-spacing: 2px;
            width: 100px;
        }
        .temp
        {
            display: none;
        }
    </style>
    <link href="../../TopsLib/Scripts/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="../../TopsLib/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../TopsLib/Content/module.css" rel="stylesheet" type="text/css" />
    <link href="../../TopsLib/Scripts/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
    <link href="../../TopsLib/Content/layout.css" rel="stylesheet" type="text/css" /> 
    <script src="../../Scripts/jquery-1.8.0.min.js" type="text/javascript"></script> 
    <script src="../../TopsLib/Scripts/ligerUI/js/ligerui.min.js" type="text/javascript"></script>
    <script src="../../TopsLib/Scripts/ligerUI/js/ligerui.all.js" type="text/javascript"></script> 
    <script src="../../Scripts/vue/vue.js" type="text/javascript"></script>
    <script src="../../TopsLib/Scripts/QRCodeJs/jquery-barcode-2.0.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var tab = null;

        $(function () {

            tab = window.parent.$("#module_tap").ligerGetTabManager();

            var vue = new Vue({
                el: ".body",
                data: {
                    DisplacementBarCode_Class: "DisplacementBarCode", //存货信息快速扫描 样式
                    MaterielBarCode_Class: "MaterielBarCode", //原材料信息快速扫描 样式
                    ChangeDisplacement_Class: "ChangeDisplacement", //选择存货代码 样式
                    ChangeMaterielDisplacement_Class: "ChangeMaterielDisplacement", //选择物料存货代码 样式
                    DisplacementCode_Class: "DisplacementCode", //存货代码 样式
                    MaterielChangeDisplacement_Class: "MaterielChangeDisplacement", //原材料选择存货代码 样式
                    MaterielDisplacementCode_Class: "MaterielDisplacementCode", //原材料存货代码 样式
                    DisplacementName_Class: "DisplacementName", //存货名称 样式
                    MaterielName_Class: "MaterielName", //原材料 存货名称 样式
                    DisplacementSpecificationModel_Class: "DisplacementSpecificationModel", //规格型号 样式
                    MaterielSpecificationModel_Class: "MaterielSpecificationModel", //原材料 规格型号 样式
                    DisplacementUnit_Class: "DisplacementUnit", //单位 样式 
                    MaterielNumber_Class: "MaterielNumber", //原材料 原料次号 样式
                    DisplacementModel_Class: "DisplacementModel", //车型 样式
                    DisplacementColor_Class: "DisplacementColor", //颜色 样式
                    BatchNumber_Class: "BatchNumber", //批次号 样式
                    LabelNumber_Class: "LabelNumber", //标签数量 样式
                    Remark_Class: "Remark", //备注 样式
                    Print_Class: "Print", //打印按钮 样式
                    DataList: {
                        n_PartDescription_Id: "",
                        n_PartDescription_MaterielId: "",
                        s_LogCode: "",  //QA条码
                        s_PartDescription_Code: "", //存货代码
                        s_PartDescription_MaterielCode: "", //原材料 存货代码
                        s_PartDescription_Name: "", //存货名称
                        s_PartDescription_MaterielName: "", //原材料 存货名称
                        s_PartDescription_SpecificationAndModel: "", //规格型号
                        s_PartDescription_MaterielSpecificationAndModel: "", //原材料 规格型号
                        s_PartDescription_Unit: "",  //单位
                        s_PartDescription_Model: "", //车型
                        s_PartDescription_Color: "",  //颜色
                        s_MaterielBatch: "", //原料次号
                        s_Batch: "", //批次
                        n_LabelNumber: "", //标签数量 
                        s_Remark: "" //备注
                    } //信息数组
                },
                methods: {
                    //通过条码加载存货信息
                    f_SelDisplacementBarCodeInfo: function () {

                        var DisplacementBarCode = $(".DisplacementBarCode").val();
                        if (DisplacementBarCode == "") {
                            return;
                        }

                        $.ajax({
                            type: "GET",
                            url: "/AjaxGet/SelDisplacementBarCodeInfo",
                            data: { s_LogCode: DisplacementBarCode },
                            success: function (result) {
                                result = JSON.parse(result);
                                if (result.IsSuccess) {
                                    if (result.length > 0) {
                                        vue.DataList.n_PartDescription_Id = result.Data[0][0].n_PartDescription_Id;
                                        vue.DataList.s_LogCode = DisplacementBarCode;
                                        vue.DataList.s_PartDescription_Code = result.Data[0][0].s_PartDescription_Code;
                                        vue.DataList.s_PartDescription_Name = result.Data[0][0].s_PartDescription_Name;
                                        vue.DataList.s_PartDescription_SpecificationAndModel = result.Data[0][0].s_PartDescription_SpecificationAndModel;
                                        vue.DataList.s_PartDescription_Unit = result.Data[0][0].s_PartDescription_Unit;
                                        vue.DataList.s_PartDescription_Model = result.Data[0][0].s_PartDescription_Model;
                                        vue.DataList.s_PartDescription_Color = result.Data[0][0].s_PartDescription_Color;
                                        vue.DataList.s_Batch = result.Data[0][0].s_Batch;
                                    }
                                } else {
                                    alert(result.Msgs[0]);
                                }
                            }
                        })
                    },
                    //选择存货信息
                    f_OpenChangeDisplacement: function () {
                        $.ligerDialog.open({
                            url: "/LabelPrintManager/ChangeDisplacement",
                            title: '选择存货信息',
                            height: 450,
                            width: 800,
                            buttons: [{
                                text: "确定",
                                onclick: function (item, dialog) {
                                    var rows = dialog.frame.f_getSelectedRows();

                                    if (rows.length == 0) {
                                        alert("请选择对应的存货信息,才能确认!");
                                        return
                                    } else if (rows.length > 1) {
                                        alert("请选择单一的存货信息,才能确认!");
                                        return
                                    }

                                    vue.DataList.n_PartDescription_Id = rows[0].n_PartDescription_Id;

                                    vue.DataList.s_PartDescription_Code = rows[0].s_PartDescription_Code;
                                    vue.DataList.s_PartDescription_Name = rows[0].s_PartDescription_Name;
                                    vue.DataList.s_PartDescription_SpecificationAndModel = rows[0].s_PartDescription_SpecificationAndModel;
                                    vue.DataList.s_PartDescription_Unit = rows[0].s_PartDescription_Unit;
                                    vue.DataList.s_PartDescription_Model = rows[0].s_PartDescription_Model;
                                    vue.DataList.s_PartDescription_Color = rows[0].s_PartDescription_Color;

                                    dialog.close();
                                }
                            },
                            {
                                text: "取消",
                                onclick: function (item, dialog) {

                                    dialog.close();
                                }
                            }]
                        });
                    },
                    //选择原材料存货信息
                    f_OpenChangeMaterielDisplacement: function () {
                        $.ligerDialog.open({
                            url: "/LabelPrintManager/ChangeDisplacement",
                            title: '选择存货信息',
                            height: 450,
                            width: 800,
                            buttons: [{
                                text: "确定",
                                onclick: function (item, dialog) {
                                    var rows = dialog.frame.f_getSelectedRows();

                                    if (rows.length == 0) {
                                        alert("请选择对应的存货信息,才能确认!");
                                        return
                                    } else if (rows.length > 1) {
                                        alert("请选择单一的存货信息,才能确认!");
                                        return
                                    }

                                    vue.DataList.n_PartDescription_MaterielId = rows[0].n_PartDescription_Id;

                                    vue.DataList.s_PartDescription_MaterielCode = rows[0].s_PartDescription_Code;
                                    vue.DataList.s_PartDescription_MaterielName = rows[0].s_PartDescription_Name;
                                    vue.DataList.s_PartDescription_MaterielSpecificationAndModel = rows[0].s_PartDescription_SpecificationAndModel;


                                    dialog.close();
                                }
                            },
                            {
                                text: "取消",
                                onclick: function (item, dialog) {

                                    dialog.close();
                                }
                            }]
                        });
                    },
                    //打印标签
                    f_PrintLabel: function () {
                        
                        tab.addTabItem({ tabid:"装箱标签打印",text: "装箱标签打印",url: "/LabelPrintManager/LabelPrinting?" + "Id=" + vue.DataList.n_PartDescription_Id +
                        "&s_Batch=" + vue.DataList.s_Batch + "&s_LogCode=" + vue.DataList.s_LogCode + "&n_LabelNumber=" + vue.DataList.n_LabelNumber +
                        "&s_PartDescription_Code=" + vue.DataList.s_PartDescription_Code + "&s_PartDescription_Name=" + vue.DataList.s_PartDescription_Name +
                        "&s_PartDescription_SpecificationAndModel=" + vue.DataList.s_PartDescription_SpecificationAndModel +
                        "&s_PartDescription_Color=" + vue.DataList.s_PartDescription_Color + "&s_PartDescription_Color=" + vue.DataList.s_PartDescription_Color +
                        "&" + Math.random() });

                    }
                }
            })
        })
    </script>
</head>
<body>
    <div class="body">
        <table>
            <tr>
                <td colspan="2">
                    存货信息
                </td>
                <td colspan="2">
                    关联原材料
                </td>
            </tr>
            <tr>
                <td>
                    快速扫描
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementBarCode_Class" />
                </td>
                <td>
                    快速扫描
                </td>
                <td>
                    <input type="text" v-bind:class="MaterielBarCode_Class" />
                </td>
            </tr>
            <tr>
                <td>
                    存货代码
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementCode_Class" v-model="DataList.s_PartDescription_Code" />
                    @* <input type="button" v-bind:class="ChangeDisplacement_Class" value="选择" />*@
                    <div v-bind:class="ChangeDisplacement_Class" v-on:click="f_OpenChangeDisplacement">
                        选择</div>
                </td>
                <td>
                    存货代码
                </td>
                <td>
                    <input type="text" v-bind:class="MaterielDisplacementCode_Class" v-model="DataList.s_PartDescription_MaterielCode" />
                    @*<input type="button" v-bind:class="MaterielChangeDisplacement_Class" value="选择" />*@
                    <div v-bind:class="ChangeMaterielDisplacement_Class" v-on:click="f_OpenChangeMaterielDisplacement">
                        选择</div>
                </td>
            </tr>
            <tr>
                <td>
                    存货名称
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementName_Class" v-model="DataList.s_PartDescription_Name" />
                </td>
                <td>
                    存货名称
                </td>
                <td>
                    <input type="text" v-bind:class="MaterielName_Class" v-model="DataList.s_PartDescription_MaterielName" />
                </td>
            </tr>
            <tr>
                <td>
                    规格型号
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementSpecificationModel_Class" v-model="DataList.s_PartDescription_SpecificationAndModel" />
                </td>
                <td>
                    规格型号
                </td>
                <td>
                    <input type="text" v-bind:class="MaterielSpecificationModel_Class" v-model="DataList.s_PartDescription_MaterielSpecificationAndModel"  />
                </td>
            </tr>
            <tr>
                <td>
                    单位
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementUnit_Class"  v-model="DataList.s_PartDescription_Unit" />
                </td>
                <td>
                    原料次号
                </td>
                <td>
                    <input type="text" v-bind:class="MaterielNumber_Class" v-model="DataList.s_MaterielBatch" />
                </td>
            </tr>
            <tr>
                <td>
                    车型
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementModel_Class"  v-model="DataList.s_PartDescription_Model" />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    颜色
                </td>
                <td>
                    <input type="text" v-bind:class="DisplacementColor_Class" v-model="DataList.s_PartDescription_Color" />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    打印标签
                </td>
            </tr>
            <tr>
                <td>
                    批次号
                </td>
                <td>
                    <input type="text" v-bind:class="BatchNumber_Class" v-model="DataList.s_Batch" />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    标签数量
                </td>
                <td>
                    <input type="text" v-bind:class="LabelNumber_Class"  v-model="DataList.n_LabelNumber" />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    备注
                </td>
                <td>
                    <input type="text" v-bind:class="Remark_Class" v-model="DataList.s_Remark"  />
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div v-bind:class="Print_Class" v-on:click="f_PrintLabel">
                        打印标签</div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
