@{
    Layout = "~/TopsLib/Views/Shared/_MobileTemplate.cshtml";

    string ParentIds = Request.QueryString["ParentIds"];

    string n_BillStockInOut_Id = Request.QueryString["n_BillStockInOut_Id"];
}
@section Body{
    <div class="body">
        <div v-bind:class="TitleTab_Showed">
            <table>
                <tr>
                    <th>
                        储位码/<br />
                        工件编码/<br />
                        器具条码
                    </th>
                    <th>
                        条码/<br />
                        工件名称
                    </th>
                    <th>
                        下架数/<br />
                        库存数
                    </th>
                </tr>
            </table>
        </div>
        <div v-bind:class="InfoTab_Showed">
            <table>
                <tr v-for="(item,i) in DataList" :index="i" n_BillStockInOut_Id="@(n_BillStockInOut_Id)" :ListPutOnOff_Id="item.ListPutOnOff_Id" :class="{ 'morechecked':item.IsCheckRecord,'Location_lock' : item.s_Space_LocationLock == '锁定' ? true:false }" v-on:click="f_CheckRecord"  >
                    <td>
                        {{ item.ListPutOnOff_Code }} / {{ item.ListPutOnOff_GoodsProductCode }} / {{ item.ListPutOnOff_BinCode
                        }}
                    </td>
                    <td>
                        {{ item.s_ListPutOnOff_BarCode.indexOf(item.ListPutOnOff_GoodsProductCode) > -1
                        && item.s_ListPutOnOff_BarCode != item.ListPutOnOff_GoodsProductCode ? item.ListPutOnOff_GoodsProductCode
                        : "" }}
                        <br />
                        {{ item.s_ListPutOnOff_BarCode.indexOf(item.ListPutOnOff_GoodsProductCode) > -1
                        && item.s_ListPutOnOff_BarCode != item.ListPutOnOff_GoodsProductCode ? item.s_ListPutOnOff_BarCode.substring(item.s_ListPutOnOff_BarCode.length
                        - 10,item.s_ListPutOnOff_BarCode.length) :item.s_ListPutOnOff_BarCode }} /
                        <br />
                        {{ item.ListPutOnOff_GoodsProductName }}
                    </td>
                    <td>
                        {{ item.ListPutOnOff_OffTheShelfNumber }} / {{ item.ReportInventoryCurrent_Number
                        }}
                    </td>
                </tr>
            </table>
        </div>
        <div v-bind:class="button_Div_Showed">
            <div v-on:click="f_DelBillStockInOutDetail">
                删除单据记录</div>
        </div>
    </div>
}
@section Script{
    <style type="text/css">
        .TitleTab
        {
            width: calc(90%);
            height: 90px;
            margin: calc(3%) calc(5%) calc(0%) calc(5%);
            text-align: center;
        }
        .TitleTab table, .InfoTab table
        {
            width: 100%;
            border-collapse: collapse;
        }
        .TitleTab th
        {
            width: 30%;
            border: 1px solid #a5e0a5;
            background: rgb(200 220 232);
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .TitleTab th:nth-child(2)
        {
            width: 45%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .TitleTab th:nth-child(3)
        {
            width: 25%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        
        .InfoTab
        {
            width: calc(90%);
            height: 182px;
            margin: calc(0%) calc(5%);
            text-align: center;
            overflow-y: scroll;
            overflow-x: scroll;
        }
        .InfoTab td
        {
            width: 30%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .InfoTab td:nth-child(2)
        {
            width: 45%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        .InfoTab td:nth-child(3)
        {
            width: 25%;
            border: 1px solid #a5e0a5;
            line-height: 30px;
            font-family: 微软雅黑;
            font-weight: normal;
            font-size: 12px;
        }
        
        .button_Div div
        {
            width: calc(90%);
            margin: calc(2%) calc(5%) calc(2%) calc(5%);
            background: rgb(80, 182, 248);
            color: white;
            font-family: 微软雅黑;
            font-size: 12px;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            letter-spacing: 2px;
        }
        
        .morechecked
        {
            background: #a5e0a5 !important;
        }
        
        .Location_lock
        {
            background:#fbeded;
        }
    </style>
    <script type="text/javascript">
        var ajaxhelper = new ajaxHelper();

        //ajax POST请求变量

        $(function () {
            var vue = new Vue({
                el: ".body",
                data: {
                    TitleTab_Showed: "TitleTab", //结果表格标题样式
                    InfoTab_Showed: "InfoTab", //结果表格样式 
                    button_Div_Showed: "button_Div", //按钮样式
                    DataList: [] //结果表格数据
                },
                methods: {
                    //加载页面后执行
                    f_reloadPage: function () {

                        //给标题
                        window.parent.$(".top").find("label").text("单据明细");
                        //阻止键盘弹出
                        f_preventKeyBoard();


                        //判定是否存在父窗口
                        if (window.top == window.self) {
                            //加载返回事件 
                            window.parent.f_loadEvent("../../../../PackingOnShelfSingle/Index?ParentIds=" + "@ParentIds");
                        } else {

                            //返回
                            $("#btnBotton").click(function () {

                                location.href = "../../../../PackingOnShelfSingle/Index?ParentIds=" + "@ParentIds";
                            })
                        }

                        //加载单据明细数据
                        vue.f_loadBillStockInOutDetailData();
                    },
                    //加载单据明细数据
                    f_loadBillStockInOutDetailData: function () {
                        var n_BillStockInOut_Id = "@(n_BillStockInOut_Id)";

                        //对象名称 查询打包下架单据的单据明细记录
                        var ObjectName = "SelPackingOnShelfSingleBillStockInOutDetails";
                        //传递参数
                        var param = { n_BillStockInOut_Id: n_BillStockInOut_Id };

                        ajaxhelper.ajax_Get(ObjectName, param, function (result) {
                            //拼装仓库选择数据源
                            vue.DataList = [];
                            if (result.Data[0].length > 0) {
                                result.Data[0].forEach(function (value, index) {
                                    vue.DataList.push({
                                        BillStockInOutDetail_Id: value.BillStockInOutDetail_Id,
                                        ListPutOnOff_Id: value.ListPutOnOff_Id,
                                        ListPutOnOff_Code: value.ListPutOnOff_Code,
                                        s_ListPutOnOff_BarCode:value.s_ListPutOnOff_BarCode,
                                        ListPutOnOff_GoodsProductCode: value.ListPutOnOff_GoodsProductCode,
                                        ListPutOnOff_GoodsProductName: value.ListPutOnOff_GoodsProductName,
                                        ListPutOnOff_OffTheShelfOperator: value.ListPutOnOff_OffTheShelfOperator,
                                        ListPutOnOff_OffTheShelfTime: value.ListPutOnOff_OffTheShelfTime,
                                        ListPutOnOff_OffTheShelfNumber: value.ListPutOnOff_OffTheShelfNumber,
                                        ListPutOnOff_BinCode: value.ListPutOnOff_BinCode,
                                        ReportInventoryCurrent_Number: value.ReportInventoryCurrent_Number,
                                        s_Space_LocationLock: value.s_Space_LocationLock,
                                        IsCheckRecord: false
                                    })
                                })
                            }

                        }, function (result) {
                            f_commonShowMsg(result.Msgs[0]);
                        })
                    },
                    //验证所填是否是数字,不是则清空
                    checkNum: function () {
                        //检查是否是非数字值
                        if (isNaN($(event.target).val())) {
                            $(event.target).val("");
                        }
                    },
                    //选择行事件
                    f_CheckRecord: function () {
                        var index = $(event.target).parent().attr("index");
                        //先清除状态
                        vue.DataList.forEach(function (value, index) {
                            value.IsCheckRecord = false;
                        })
                        //标记选中行
                        vue.DataList[index].IsCheckRecord = true;
                    },
                    //删除对应的单据明细记录
                    f_DelBillStockInOutDetail: function () {

                        if (!confirm("请确认是否要删除单据明细!")) {
                            return;
                        }

                        var obj = event.target;
                        if ($(obj).is("[disabled]")) {
                            return;
                        }

                        $(obj).attr("disabled", "disabled");

                        //筛出选中行记录
                        var arr = vue.DataList.filter(function (result) {
                            return result.IsCheckRecord;
                        })

                        //对象名  删除打包下架单据明细信息
                        var objectName = "DelPackingOnShelfBillStockInOutDetail";
                        //传递参数
                        var param = { Dictionarys: arr };

                        ajaxhelper.ajax_Post(objectName, param, function (result) {

                            f_commonShowMsg("删除成功!");
                            //重新加载
                            vue.f_loadBillStockInOutDetailData();

                            $(obj).removeAttr("disabled");

                        }, function (result) {
                            f_commonShowMsg(result.Msgs[0]);

                            $(obj).removeAttr("disabled");
                        })
                    }
                }
            });

            //加载页面后执行
            vue.f_reloadPage();
        })
    </script>
}
