@{
    ViewBag.Title = "BizManagerCtx";
    Layout = "~/TopsLib/Views/Tools/_Layout.cshtml";
    var bizName = (Request.QueryString["id"] + "").Trim();

    string metas = null;
    //是否是历史版本
    string oldversion = string.Empty;
    string bizId = string.Empty;
    //是否是历史版本
    if (Request.QueryString.AllKeys.Contains("oldversion"))
    {
        oldversion = Request.QueryString["oldversion"].ToString();
        bizId = Request.QueryString["bizid"].ToString();
    }
}
<script type="text/javascript">
    var bizName = "@(bizName)";
    var oldversion = "@(oldversion)";
    var bizId = "@(bizId)";
    var IsSys = false;
    var tab = null;
    var accordion = null;
    var tree = null;
    $(document).ready(function () {
        var height = $(".l-layout-center").height();
        //Tab
        $("#main_tab").ligerTab({
            height: height,
            onAfterSelectTabItem: function (tabid) {
            }
        });
        //面板
        // $("#accordion_main").ligerAccordion({ height: height - 24, speed: null });
        $(".l-link").hover(function () {
            $(this).addClass("l-link-over");
        }, function () {
            $(this).removeClass("l-link-over");
        });

        tab = $("#framecenter").ligerGetTabManager();
        heightChanged();
        // tree = $("#tree1").ligerGetTreeManager();    l-layout-header        
        $("#pageloading").hide();
        function f_heightChanged(options) {
            heightChanged();
            if (tab)
                tab.addHeight(options.diff);
            if (accordion && options.middleHeight - 100 > 0)
                accordion.setHeight(options.middleHeight - 24);
        }
        function heightChanged() {
            var $accordion = $("#accordion_main")
            var $accordion_p = $accordion.parent();
            $accordion.height($accordion_p.height() - $accordion_p.children(".l-layout-header").height());
        }
        $("#save_bt").click(function () {
            var data = {
                BizName: bizName,
                IsSys: IsSys,
                Checks: GetChecks(),
                Sqls: GetSqls(),
                Fields: GetFields()
            }
            $.topsAjax({
                type: "POST",
                url: "/Tools/SaveBiz",
                data: { data: $.toJSON(data), Type: 2 },
                dealError: false,
                success: function (data) {
                    if (data.IsSuccess) {
                        alert("保存成功");

                    } else {
                        alert("保存失败，" + data.Msgs[0]);
                    }
                }
            });
        });
        $("#del_bt").click(function () {
            if (confirm("确定删除？"))
                $.topsAjax({
                    type: "POST",
                    url: "/Tools/DelBiz",
                    data: { BizName: bizName },
                    dealError: false,
                    success: function (data) {
                        if (data.IsSuccess) {
                            alert("删除成功");
                            window.parent.GetBizs()
                            window.parent.f_removeTabItem(bizName);
                        } else {
                            alert("删除失败，" + data.Msgs[0]);
                        }
                    }
                });
        });
        $("#export_bt").click(function () {
            window.top.t_ExportBiz(bizName);
        });


        //如果是历史版本，则无需显示查阅历史版本按钮
        if (oldversion != "") {
            $("#save_bt").remove();
            $("#del_bt").remove();
            $("#export_bt").remove();
            $("#check_bt").remove();
        }

        //查阅历史版本
        $("#check_bt").click(function () {


            $.ligerDialog.open({
                title: "历史版本信息",
                width: 900,
                height: 650,
                url: "/tools/CheckOldVersionList?bizName=" + bizName
            })

        })



        //JaneHe 如果是历史版本的,那么访问对象也不一致
        var url = "/Tools/GetBiz";
        var data = { BizName: bizName, Type: 2 };
        if (oldversion != "") {
            url = "/Tools/GetBizByOldVersion";
            data = { BizId: bizId, Type: 2 };
        }

        //初始化
        $.topsAjax({
            type: "POST",
            url: url,
            data: data,
            dealError: false,
            success: function (data) {
                if (data.IsSuccess) {
                    IsSys = data.Data.IsSys;
                    if (IsSys) {
                        $("#IsSys").show();
                        $("#del_bt").hide();
                    }
                    SetFields(data.Data.Fields);
                    SetSqls(data.Data.Sqls);
                    SetChecks(data.Data.Checks);

                    if (oldversion != "") {
                        $("textarea[class=remark]").val(data.Data.Remarks);
                    }

                    renderConfigTable(data.Data)
                } else {
                    alert("加载Biz失败：" + data.Msgs[0]);
                }
            }
        });


        //        //初始化
        //        $.topsAjax({
        //            type: "POST",
        //            url: "/Tools/GetBiz",
        //            data: { BizName: bizName, Type: 2 },
        //            dealError: false,
        //            success: function (data) {
        //                if (data.IsSuccess) {
        //                    IsSys = data.Data.IsSys;
        //                    if (IsSys) {
        //                        $("#IsSys").show();
        //                        $("#del_bt").hide();
        //                    }
        //                    SetChecks(data.Data.Checks);
        //                    SetFields(data.Data.Fields);
        //                    SetSqls(data.Data.Sqls);
        //                } else {
        //                    alert("加载Biz失败：" + data.Msgs[0]);
        //                }
        //            }
        //        });
        $("input").live("focus", function () {
            $(this).select();
        });

    });
    function GetParamsHtml() {
        var $pars = $("#fields_table input[name=Field]");
        var t = "<option value=''>无</option>"
        $pars.each(function (index) {
            t += "<option value='" + $(this).val() + "'>" + $(this).val() + "</option>";
        });
        return t;
    }

</script>
<div>
    <input type="button" value="保存" class="save_bt" id="save_bt" />
    <input type="button" value="删除" class="del_bt" id="del_bt" />
    <input type="button" value="导出" class="export_bt" id="export_bt" />
    <input type="button" value="查阅历史版本" class="export_bt" id="check_bt"/>
    <label id="IsSys" style="color: Red; display: none;">
        [系统对象不能删除]</label>
</div>
<div id="main_tab">
    <div tabid="center_check" title="业务检查">
        <table id="check_table" class="main_table" border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <thead>
                <tr class="main_table_head">
                    <td width="15px" class="main_table_td">
                        选
                    </td>
                    <td width="20px" class="main_table_td">
                        号
                    </td>
                    <td class="main_table_td">
                        检查名称
                    </td>
                    <td width="100px" class="main_table_td">
                        检查主字段
                    </td>
                    <td width="20px" class="main_table_td">
                        删
                    </td>
                    <td width="20px" class="main_table_td">
                        显
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot style="display: none;">
                <tr>
                    <td class="main_table_td">
                        <input name="IsCheckRun" type="checkbox" checked />
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" name="CheckIndex" style="width: 20px; height: 25px; border-width: 0"
                            value="1" />
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" name="CheckName" style="width: 100%; height: 25px; border-width: 0" />
                    </td>
                    <td class="main_table_td">
                        <select name="CheckField">
                            <option value="">无</option>
                        </select>
                    </td>
                    <td class="main_table_td">
                        <input class="del_check del_bt_min" type="button" />
                    </td>
                    <td class="main_table_td">
                        <div class="open_img">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="main_table_td" colspan="6">
                        <textarea class="input_bg" name="CheckSql" style="width: 100%; height: 100px; border-width: 0"></textarea>
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>
            <input type="button" class="add_bt_min" id="add_check_bt" /></p>
    </div>
    <div tabid="center_sql" title="业务过程">
        <table id="sql_table" class="main_table" border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <thead>
                <tr class="main_table_head">
                    <td width="15px" class="main_table_td">
                        选
                    </td>
                    <td width="20px" class="main_table_td">
                        号
                    </td>
                    <td class="main_table_td">
                        业务名称
                    </td>
                    <td width="100px" class="main_table_td">
                        循环字段
                    </td>
                    <td width="20px" class="main_table_td">
                        删
                    </td>
                    <td width="20px" class="main_table_td">
                        显
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot style="display: none;">
                <tr>
                    <td class="main_table_td">
                        <input name="IsSqlRun" type="checkbox" checked />
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" name="SqlIndex" style="width: 20px; height: 25px; border-width: 0"
                            value="1" />
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" name="SqlName" style="width: 100%; height: 25px; border-width: 0" />
                    </td>
                    <td class="main_table_td">
                        <select name="SqlLoopField">
                            <option value="">无</option>
                        </select>
                    </td>
                    <td class="main_table_td">
                        <input class="del_sql del_bt_min" type="button" />
                    </td>
                    <td class="main_table_td">
                        <div class="open_img">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="main_table_td" colspan="6">
                        <textarea class="input_bg" name="BizSql" style="width: 100%; height: 200px; border-width: 0"></textarea>
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>
            <input type="button" class="add_bt_min" id="add_sql_bt" /></p>
    </div>
    <div tabid="center_parmas" title="参数设置">
        <table id="fields_table" class="main_table" border="0" cellpadding="0" cellspacing="0"
            width="100%">
            <thead>
                <tr class="main_table_head">
                    <td width="150px" class="main_table_td">
                        字段
                    </td>
                    <td width="150px" class="main_table_td">
                        名称
                    </td>
                    <td width="20px" class="main_table_td">
                        返
                    </td>
                    <td width="20px" class="main_table_td">
                        循
                    </td>
                    <td width="20px" class="main_table_td">
                        空
                    </td>
                    <td width="100px" class="main_table_td">
                        类型
                    </td>
                    <td class="main_table_td">
                        查询
                    </td>
                    <td width="20px" class="main_table_td">
                        删
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot style="display: none;">
                <tr>
                    <td class="main_table_td">
                        <input class="input_bg" name="Field" style="width: 100%; height: 25px; border-width: 0" />
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" name="FieldName" style="width: 100%; height: 25px; border-width: 0" />
                    </td>
                    <td class="main_table_td">
                        <input name="IsReturnField" type="checkbox" />
                    </td>
                    <td class="main_table_td">
                        <input name="IsLoopField" type="checkbox" />
                    </td>
                    <td class="main_table_td">
                        <input name="IsNull" type="checkbox" />
                    </td>
                    <td class="main_table_td">
                        <select name="FieldType">
                            <option value="String">String</option>
                            <option value="Int">Int</option>
                            <option value="Bit">Bit</option>
                            <option value="DateTime">DateTime</option>
                            <option value="BeginDateTime">BeginDateTime</option>
                            <option value="EndDateTime">EndDateTime</option>
                            <option value="Float">Float</option>
                        </select>
                    </td>
                    <td class="main_table_td">
                        <input class="input_bg" style="width: 100%; height: 25px; border-width: 0" name="FieldSql" />
                    </td>
                    <td class="main_table_td">
                        <input class="del_field del_bt_min" type="button" />
                    </td>
                </tr>
            </tfoot>
        </table>
        <p>
            <input type="button" class="add_bt_min" id="add_field_bt" /><input id="auto_Create_bt"
                title="自动生成参数" class="auto_Create auto_bt_min" type="button" /></p>
    </div>
    @*对象备注*@
    <div tabid="center_remarks" title="对象备注">
        <textarea rows="15" cols="5" class="remark" style="width: 100%; line-height: 30px;">
         
         </textarea>
    </div>
</div>
@*业务检查*@
<script type="text/javascript">
    $(function () {
        $("#add_check_bt").click(function () {
            var $newCheck = $("#check_table tfoot").eq(0);
            var checkIndex = $("#check_table").data("checkIndex");
            checkIndex = checkIndex == undefined ? 0 : checkIndex;
            $("#check_table").data("checkIndex", checkIndex + 1);
            $("#check_table tbody").append($newCheck.html());
            var $newCheckTr1 = $("#check_table tbody tr:last").prev()
            $newCheckTr1.find("input[name = CheckIndex]").val(checkIndex + 1).select();
        });

        $("#check_table input.del_check").live("click", function () {
            var $tr1 = $(this).closest("tr");
            var $tr2 = $tr1.next();
            $tr2.remove();
            $tr1.remove();
        });

        $("#check_table .open_img").live("click", function () {
            var $tr1 = $(this).closest("tr");
            var $tr2 = $tr1.next();
            var isOpen = $(this).data("isOpen");
            if (isOpen == undefined) {
                isOpen = true;
            }
            if (isOpen) {
                $(this).addClass("close_img");
                $tr2.hide();
                $(this).data("isOpen", false);
            } else {
                $(this).removeClass("close_img");
                $tr2.show();
                $(this).data("isOpen", true);
            }
        });
        $("#check_table tbody select[name=CheckField]").live("focus", function () {
            GetCheckFields($(this));
        });
        $("input[name=CheckName]").live("keydown", function (e) {
            if (e.keyCode == '13') {
                $(this).closest("tr").find(".open_img").click();
            }
        }).live("dblclick", function () {
            $(this).closest("tr").find(".open_img").click();
        });

    });
    function GetCheckFields($obj) {
        var checkedVal = $obj.val()
        $obj.html(GetParamsHtml());
        $obj.attr("value", checkedVal);
    }
    function GetChecks() {
        var checks = new Array();
        var $trs = $("#check_table tbody tr");
        $trs.each(function (index) {
            if (index % 2 == 0) {
                var $tr1 = $trs.eq(index);
                var $tr2 = $tr1.next();
                var isCheckRun = !!$tr1.find("input[name=IsCheckRun]").attr("checked");
                checks.push({
                    Item: $tr1.find("input[name=CheckIndex]").val(),
                    Name: $tr1.find("input[name=CheckName]").val(),
                    Sql: $tr2.find("[name=CheckSql]").val(),
                    IsRun: isCheckRun,
                    CheckField: $tr1.find("[name=CheckField]").val()
                });
            }
        });
        return checks;
    }
    function SetChecks(sqls) {
        var $newCheck = $("#check_table tfoot").eq(0);
        $.each(sqls, function (index) {
            var $newTr = $($newCheck.html());
            $("#check_table tbody").append($newTr);
            $newTr.find("input[name=CheckIndex]").val(this.Item);
            $newTr.find("input[name=CheckName]").val(this.Name);
            $newTr.find("textarea[name=CheckSql]").val(this.Sql);
            $newTr.find("input[name=IsCheckRun]").attr("checked", this.IsRun);
            $newTr.find("select[name=CheckField]").html("<option value='" + this.CheckField + "'>" + this.CheckField + "</option>");
            $newTr.find(".open_img").click();
        });
    }
</script>
@*业务过程*@
<script type="text/javascript">
    $(function () {
        $("#add_sql_bt").click(function () {
            var $newSql = $("#sql_table tfoot").eq(0);
            var sqlIndex = $("#sql_table").data("sqlIndex");
            sqlIndex = sqlIndex == undefined ? 0 : sqlIndex;
            $("#sql_table").data("sqlIndex", sqlIndex + 1);
            $("#sql_table tbody").append($newSql.html());
            var $newSqlTr1 = $("#sql_table tbody tr:last").prev()
            $newSqlTr1.find("input[name = SqlIndex]").val(sqlIndex + 1).select();
        });
        $("#sql_table input.del_sql").live("click", function () {
            var $tr1 = $(this).closest("tr");
            var $tr2 = $tr1.next();
            $tr2.remove();
            $tr1.remove();
        });
        $("#sql_table .open_img").live("click", function () {
            var $tr1 = $(this).closest("tr");
            var $tr2 = $tr1.next();
            var isOpen = $(this).data("isOpen");
            if (isOpen == undefined) {
                isOpen = true;
            }
            if (isOpen) {
                $(this).addClass("close_img");
                $tr2.hide();
                $(this).data("isOpen", false);
            } else {
                $(this).removeClass("close_img");
                $tr2.show();
                $(this).data("isOpen", true);
            }
        });
        $("#sql_table tbody select[name=SqlLoopField]").live("focus", function () {
            GetSqlLoopFields($(this));
        });
        $("input[name=SqlName]").live("keydown", function (e) {
            if (e.keyCode == '13') {
                $(this).closest("tr").find(".open_img").click();
            }
        }).live("dblclick", function () {
            $(this).closest("tr").find(".open_img").click();
        });
    });
    function GetSqlLoopFields($obj) {
        var checkedVal = $obj.val()
        $obj.html(GetParamsHtml());
        $obj.attr("value", checkedVal);
    }
    function GetSqls() {
        var sqls = new Array();
        var $trs = $("#sql_table tbody tr");
        $trs.each(function (index) {
            if (index % 2 == 0) {
                var $tr1 = $trs.eq(index);
                var $tr2 = $tr1.next();
                var isSqlRun = !!$tr1.find("input[name=IsSqlRun]").attr("checked");
                sqls.push({
                    Item: $tr1.find("input[name=SqlIndex]").val(),
                    Name: $tr1.find("input[name=SqlName]").val(),
                    Sql: $tr2.find("textarea[name=BizSql]").val(),
                    LoopField: $tr1.find("[name=SqlLoopField]").val(),
                    IsRun: isSqlRun
                });
            }
        });
        return sqls;
    }
    function SetSqls(sqls) {
        var $newSql = $("#sql_table tfoot").eq(0);
        $.each(sqls, function (index) {
            var $newTr = $($newSql.html());
            $("#sql_table tbody").append($newTr);
            $newTr.find("input[name=SqlIndex]").val(this.Item);
            $newTr.find("input[name=SqlName]").val(this.Name);
            $newTr.find("textarea[name=BizSql]").val(this.Sql);
            $newTr.find("input[name=IsSqlRun]").attr("checked", this.IsRun);
            $newTr.find("select[name=SqlLoopField]").html("<option value='" + this.LoopField + "'>" + this.LoopField + "</option>");
            $newTr.find(".open_img").click();
        });
    }
</script>
@*参数设置*@
<script type="text/javascript">
    $(function () {
        $("#add_field_bt").click(function () {
            var $newCheck = $("#fields_table tfoot").eq(0);
            var $newTr = $($newCheck.html());
            $("#fields_table tbody").append($newTr);
            $newTr.find("input").eq(0).select();
        });
        $("#fields_table input.del_field").live("click", function () {
            var $tr1 = $(this).closest("tr");
            $tr1.remove();
        });
        $("#auto_Create_bt").click(function () {
            var s = "";
            $("#sql_table textarea").each(function () {
                s += $(this).val() + " ";
            });
            var re = /(@@:)\w+/ig;
            var fields = s.match(re);
            if (fields != null && fields.length > 0) {
                $.each(fields, function (index) {
                    //判断是否已经存在
                    var isAdd = true;
                    var currentField = this.substring(2);
                    $("#fields_table tbody input[name=Field]").each(function () {
                        if ($.trim(currentField) == $.trim($(this).val())) {
                            isAdd = false;
                            return false;
                        }
                    });
                    //如果不存在
                    if (isAdd) {
                        $("#add_field_bt").click();
                        $("#fields_table tbody tr:last input[name=Field]").val(currentField);
                    }
                });
            }

        });
    });
    function GetFields() {
        var fields = new Array();
        var $trs = $("#fields_table tbody tr");
        $trs.each(function (index) {
            var $tr1 = $(this);
            var isReturn = !!$tr1.find("input[name=IsReturnField]").attr("checked");
            var isLoop = !!$tr1.find("input[name=IsLoopField]").attr("checked");
            var isNull = !!$tr1.find("input[name=IsNull]").attr("checked");
            fields.push({
                FieldName: $tr1.find("input[name=Field]").val(),
                Title: $tr1.find("input[name=FieldName]").val(),
                IsReturn: isReturn,
                FieldType: $tr1.find("[name=FieldType]").val(),
                Sql: $tr1.find("input[name=FieldSql]").val(),
                IsLoop: isLoop,
                IsNull: isNull
            });
        });
        return fields;
    }
    function SetFields(fields) {
        var $newCheck = $("#fields_table tfoot").eq(0);
        $.each(fields, function (index) {
            var $newTr = $($newCheck.html());
            $("#fields_table tbody").append($newTr);
            $newTr.find("input[name=Field]").val(this.FieldName);
            $newTr.find("input[name=FieldName]").val(this.Title);
            $newTr.find("input[name=IsReturnField]").attr("checked", this.IsReturn);
            $newTr.find("select[name=FieldType]").attr("value", this.FieldType);
            $newTr.find("input[name=FieldSql]").val(this.Sql);
            $newTr.find("input[name=IsLoopField]").attr("checked", this.IsLoop);
            $newTr.find("input[name=IsNull]").attr("checked", this.IsNull);
        });
    }
</script>
@*
<script type="text/javascript">
    $(function () {
        $(".open_img").click();
    });
</script>*@ 